<header></header>
<section>
    <div class="section-header">
        <h2>{{username}} - Friends ({{userFriends.length}} total)</h2>
    </div>
    <div class="container friends">
        <div class="col-md-10 col-md-offset-1">
            <div class="row friend-filter">
                <p class="col-md-6">Filter By Name: </p>
                <div class="col-md-5 form-group pull-right">
                    <input class="form-control" ng-model="filter.name" placeholder="Filter" type="text">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 well well-sm" ng-repeat="friend in userFriends | filter : filter">
                <a href="#/users/{{friend.username}}">
                    <div class="row">
                        <img class="col-md-3" src="" ng-src="{{friend.profileImageData}}" alt="{{friend.name}}">
                        <p class="col-md-8 pull-right">{{friend.name}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>