<header></header>

<form class="form-horizol">
    <fieldset>
        <legend>Change Password</legend>

        <div class="container">
            <div class="col-sm-offset-1 col-md-10">
                <form class="form-horizontal row">
                    <fieldset class="col-md-10">
                        <div class="form-group passwordField">
                            <label for="inputOldPassword" class="col-lg-5 control-label">Old password</label>
                            <div class="col-lg-6">
                                <input class="form-control" id="inputOldPassword" type="password" ng-model="passwordData.oldPassword">
                            </div>
                        </div>

                        <div class="form-group passwordField">
                            <label for="inputNewPassword" class="col-lg-5 control-label">New password</label>
                            <div class="col-lg-6">
                                <input class="form-control" id="inputNewPassword" type="password" ng-model="passwordData.newPassword">
                            </div>
                        </div>

                        <div class="form-group passwordField">
                            <label for="confirmNewPassword" class="col-lg-5 control-label">Confirm password</label>
                            <div class="col-lg-6">
                                <input class="form-control" id="confirmNewPassword" type="password" ng-model="passwordData.confirmPassword">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group pull-left">
                        <div class="col-lg-2 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary" ng-click="changePassword(passwordData)">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
</form>