<div class="modal" ng-if="editPostShown">
    <div class="modal-dialog editPostModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEdit()">x</button>
                <h4 class="modal-title">Edit Post</h4>
            </div>
            <div class="modal-body row">
                <textarea ng-model="editPostData.postContent" autofocus = "autofocus"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" ng-click="editPost(editPostData.id, editPostData.postContent)">Save</button>
            </div>
        </div>
    </div>
</div>