.userHeaderImage{
    margin: 0;
    width: 40px;
    width: 40px;
}

.dropdown-menu{
    display: inline-block;
    padding-bottom: 0;
}

.dropdown-menu li{
    border: 1px solid black;
    margin: 0px;
}

.dropdown-menu img{
    width: 30%;
    max-height: 58px;
    padding-left: 0;
}

.dropdown > .dropdown-menu > li > a {
    padding-left: 5px;
}

.dropdown > .dropdown-menu > li > a > p {
    font-size: 14px;
    line-height: 58px;
}

.dropdown-menu > li > p {
    line-height: 35px;
    text-align: center;
    margin: 0;
}