<div class="modal" id="#requests" ng-if="requestDetailsShow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeRequestDetails()">x</button>
                <h4 class="modal-title">Friend requests</h4>
            </div>
            <div class="request" ng-repeat="request in user.friendRequests">
                <div class="modal-body row">
                    <div class="col-md-4">
                        <img src="" ng-src="{{request.user.profileImageData}}" alt="{{request.user.name}}">
                    </div>
                    <div class="col-md-8">
                        <span><strong>{{request.user.name}}</strong></span>
                        <div class="modal-footer row">
                            <button type="button" class="btn btn-default" ng-click="approve(request.id)">Accept</button>
                            <button type="button" class="btn btn-primary" ng-click="reject(request.id)">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>{{friendRequests.length}} request total</p>
            </div>
        </div>
    </div>
</div>