<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="inputUsernameLogin" class="col-lg-2 control-label">Username:</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputUsernameLogin" placeholder="Username" type="text" ng-model="input.username">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPasswordLogin" class="col-lg-2 control-label">Password: </label>
            <div class="col-lg-10">
                <input class="form-control" id="inputPasswordLogin" placeholder="Password" type="password" ng-model="input.password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" ng-click="login(input)">Login</button>
            </div>
        </div>

    </fieldset>
</form>