<div>
<section class="newsFeed" class="pull-left">
    <div class="panel panel-default" ng-repeat="post in newsFeedData | limitTo: 5">
        <div class="panel-heading">
            <img ng-src="{{post.author.profileImageData}}" alt="{{post.author.name}}" class="pull-left"/>
            <h4>
                <a href="" ng-mouseover="hoverName = true">
                    <div>
                        {{post.author.name}}
                    </div>
                </a>
            </h4>
            <div class="panel panel-default hoverPanel" ng-show="hoverName" ng-mouseleave="hoverName = false">
                <img ng-src="{{post.author.profileImageData}}" alt="{{post.author.name}}"/>
                <div class="pull-left userPanelInfo">
                <h5>
                    <a href="#/users/{{post.author.username}}">
                        <div>{{post.author.name}}</div>
                    </a>
                </h5>
                <div>
                    <div ng-if="post.author.gender == 0">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    <div ng-if="post.author.gender == 1">
                        <span>♂</span>
                    </div>
                    <div ng-if="post.author.gender == 2">
                        <span>♀</span>
                    </div>
                </div>
                <div ng-if="post.author.username != user.username">
                <button type="submit" class="btn btn-primary pull-left" ng-if="post.author.hasPendingRequest && post.author.username != user.username">Pending</button>
                <button type="submit" class="btn btn-primary pull-left" ng-if="post.author.isFriend">Friend</button>
                <button type="submit" class="btn btn-primary pull-left" ng-if="!post.author.hasPendingRequest && !post.author.isFriend" ng-click="sendRequestUserNewsFeed(post.author.username)">Invite</button>
                </div>
                </div>
            </div>
            <p>{{post.date | date: 'dd-MM-yyyy HH:MM:ss'}}</p>
        </div>
        <div class="panel-body postContent">
            {{post.postContent}}
        </div>
        <div class="panel-footer">
            <div ng-if="post.author.username == user.username">
                <button type="submit" class="btn btn-default pull-left" ng-if="post.author.username == user.username" ng-click="showEditPost(post.id)">Edit Post</button>
                <button type="submit" class="btn btn-default pull-left" ng-if="post.author.username == user.username" ng-click="deletePost(post.id)">Delete Post</button>
            </div>
            <button type="submit" class="btn btn-default pull-left" ng-click="showCommentAddPanel(post.id)">Comment</button>

            <div class="pull-right">
                {{post.likesCount}}
                <a class="glyphicon glyphicon-thumbs-up" ng-click="likePost(post.id)" ng-if="!post.liked">Like</a>
                <a class="glyphicon glyphicon-thumbs-down" ng-click="unlikePost(post.id)" ng-if="post.liked">Unlike</a>
            </div>
        </div>
        <div class="row commentsPanel pull-right cl-md-10" ng-if="post.totalCommentsCount > 0">
            <div class="panel panel-default" ng-repeat="comment in post.comments">
            <div class="panel-heading">
                <img ng-src="{{comment.author.profileImageData}}" alt="{{comment.author.name}}" class="pull-left"/>
                <h4>
                    <a href="" ng-mouseover="hoverCommentName = true">
                        <div>
                            {{comment.author.name}}
                        </div>
                    </a>
                </h4>
                <div class="panel panel-default hoverPanel" ng-show="hoverCommentName" ng-mouseleave="hoverCommentName = false">
                    <img ng-src="{{comment.author.profileImageData}}" alt="{{comment.author.name}}"/>
                    <div class="pull-left userPanelInfo">
                        <h5>
                            <a href="#/users/{{comment.author.username}}">
                                <div>{{comment.author.name}}</div>
                            </a>
                        </h5>
                        <div>
                            <div ng-if="comment.author.gender == 0">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </div>
                            <div ng-if="comment.author.gender == 1">
                                <span class="glyphicon glyphicons-male"></span>
                            </div>
                            <div ng-if="comment.author.gender == 2">
                                <span class="glyphicon glyphicon-female"></span>
                            </div>
                        </div>
                        <div ng-if="comment.author.username != user.username">
                            <button type="submit" class="btn btn-primary pull-left" ng-if="comment.author.hasPendingRequest && postData.author.username != user.username">Pending</button>
                            <button type="submit" class="btn btn-primary pull-left" ng-if="comment.author.isFriend">Friend</button>
                            <button type="submit" class="btn btn-primary pull-left" ng-if="!comment.author.hasPendingRequest && !post.author.isFriend" ng-click="sendRequestUserNewsFeed(comment.author.username)">Invite</button>
                        </div>
                    </div>
                </div>
                <p>{{comment.date | date: 'dd-MM-yyyy HH:MM:ss'}}</p>
            </div>
            <div class="panel-body postContent">
                {{comment.commentContent}}
            </div>
            <div class="panel-footer">
                <div>
                    <button type="submit" class="btn btn-default pull-left" ng-if="comment.author.username == user.username" ng-click="showEditCommentPanel(post.id, comment.id)">Edit Comment</button>
                    <button type="submit" class="btn btn-default pull-left" ng-if="comment.author.username == user.username" ng-click="deleteComment(post.id, comment.id)">Delete Comment</button>
                </div>
                <div class="pull-right">
                    {{comment.likesCount}}
                    <a class="glyphicon glyphicon-thumbs-up" ng-click="likeComment(post.id, comment.id)" ng-if="!comment.liked">Like</a>
                    <a class="glyphicon glyphicon-thumbs-down" ng-click="unlikeComment(post.id, comment.id)" ng-if="comment.liked">Unlike</a>
                </div>
            </div>
        </div>
            <div class="col-md-12 more-btn" ng-if="post.totalCommentsCount > 3 && post.totalCommentsCount != post.comments.length">
                <button type="submit" class="btn btn-primary pull-right" ng-click="ShowMoreComments(post.id)">More ...</button>
            </div>
            <div class="col-md-12 more-btn" ng-if="post.totalCommentsCount > 3 && post.totalCommentsCount == post.comments.length">
                <button type="submit" class="btn btn-primary pull-right" ng-click="ShowLessComments(post.id)">Less ...</button>
            </div>
        </div>
    </div>

    <add-comment></add-comment>
    <edit-comment></edit-comment>
    <edit-post></edit-post>
</section>
<div friends-sidebar class="pull-right"></div>
    </div>